.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.home-wrapper {
    width: 500px;
    height: 700px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
}