.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.home-wrapper {
    width: 500px;
    height: 700px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    overflow-y: auto;
    gap: 16px;
    padding: 16px;
}