.detail-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.detail-header h3 {
    font-size: 16px;
}

.detail-header svg {
    cursor: pointer;
}