.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.home-header h3 {
    cursor: pointer;
}