.product-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-card-image {
    height: 230px;
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
}

.product-card-info {
    padding: 4px;
}

.product-name {
    font-size: 14px;
}

.product-price {
    font-size: 16px;
}

.verified-icon {
    color: var(--text-accent);
    flex-shrink: 0;
    margin-right: 4px;
}